:root {
    --f-roboto: "Roboto", sans-serif;
    --f-raleway: "Raleway", sans-serif;
    --white: #fff;
    --lwhite: #eee;
    --black: #000;
    --dark: #212121;
    --darkblue: #2f303a;
    --gray: #757575;
    --lgray: #f5f4fa;
    --blue: #2196f3;
    --fsize36: 36px;
    --fsize16: 16px;
    --fsize14: 14px;
  }
  body {
    font-family: var(--f-roboto);
    font-size: var(--fsize16);
    line-height: 1.2;
    color: var(--dark);
    letter-spacing: 0.03em;
    background-color: var(--white);
  }
  
  .scr-reader {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .section-title {
    font-size: var(--fsize36);
    text-align: center;
  }
  .header a {
    text-decoration: none;
  }
  .header-logo {
    font-family: var(--f-raleway);
    font-size: 26px;
    color: var(--blue);
  }
  .header-logo span {
    color: var(--black);
  }
  .header__menu,
.header__contacts {
  list-style: none;
}
.header__contacts {
    font-weight: 500;
    font-size: var(--fsize14);
    letter-spacing: 0.02em;
  }
  .header__contacts-item a {
    color: var(--gray);
  }
  .header__menu-item a{
    color: var(--dark);
  }
  .header__menu-item a:hover,
.header__menu-item a:focus,
.header__contacts-item a:hover,
.header__contacts-item a:focus,
.header__menu-item.active a {
  color: var(--blue);
}
.hero {
    background-color: var(--darkblue);
  }
  .hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
  }
  .hero-btn {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: var(--fsize16);
    line-height: 1.85;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  .benefits__list {
    list-style: none;
  }
  .benefits__list-item {
    font-size: var(--fsize14);
  }
  .benefits__list-title {
    font-size: inherit;
    text-transform: uppercase;
  }
  .benefits__list-description {
    color: var(--gray);
  }
  