:root {
    --f-roboto: "Roboto", sans-serif;
    --f-raleway: "Raleway", sans-serif;
    --white: #fff;
    --lwhite: #eee;
    --black: #000;
    --dark: #212121;
    --darkblue: #2f303a;
    --gray: #757575;
    --lgray: #f5f4fa;
    --blue: #2196f3;
    --soc-color: #AFB1B8;
    --fsize36: 36px;
    --fsize16: 16px;
    --fsize14: 14px;
    --card-set-gap: 30px;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul 
{
margin: 0;
}

body {
  font-family: var(--f-roboto);
  font-size: var(--fsize16);
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.03em;
  background-color: var(--white);
}

/* Container */

.container 
{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
/* outline: 2px solid red; */
}

.section
{
  padding-bottom: 94px;
  padding-top: 94px;
  margin: 0;
}

.header-container
{
  display: flex;
  align-items: center;
}


/* ------ */
.list {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;

  
}
.scr-reader {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .section-title {
    font-size: var(--fsize36);
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
    
  }

  /* Header */
  .header a {
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
    font-family: var(--f-raleway);
    font-size: 26px;
    color: var(--blue);
    margin-right: 93Px
  }

  .header-logo span {
  color: var(--black);
}

.header__menu {
  display: flex;
  gap: 50px;
  list-style: none;
}

.header__contacts {
  display: flex;
  gap: 50px;
  list-style: none;

}

.header__nav {
  font-weight: 500;
  font-size: var(--fsize14);
  letter-spacing: 0.02em;
  margin-right: auto;
}

.header__contacts {
  font-weight: 500;
  font-size: var(--fsize14);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.header__contacts-item a {
    color: var(--gray);
    display: flex;
    align-items: center;    
  }

  .header__menu-item a{
  color: var(--dark);
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.header__menu-item a:hover,
.header__menu-item a:focus,
.header__contacts-item a:hover,
.header__contacts-item a:focus,
.header__menu-item.active a {
  color: var(--blue);
}

.svg-header {
  margin-right: 10px;
  fill: currentColor ;
}
/* Hero */


.hero {
    background-color: var(--darkblue); 
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .hero-btn {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: var(--fsize16);
    line-height: 1.85;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    
  }
  
  .hero-btn:hover,
  .hero-btn:focus {
  background-color: #188ce8;
}

/* Benefits */
.benefits {
  
}
  .benefits__list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.benefits__list-item {
  font-size: var(--fsize14);
  flex-basis: calc((100% - 90px) / 4)
  
}
.benefits__list-title {
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__list-description {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.benefits-svg-container 
{
  background: var(--lgray);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  text-align: center;
  height: 120px;
}
.benefits-svg 
{
  box-sizing: content-box;
  margin: auto;
}

/* doing */
.doing 
{
  padding-top: 0;
}

.doing__images {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

/* Team */
  .team {
    background-color: var(--lgray);
  }

  .team__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .team__list-item {
    
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);   
      flex-basis: calc((100% - 90px) / 4) 
  }

  .team-disc
{
  padding-top: 30px;
  padding-bottom: 30px;
}

  .team__list-title {
    font-size: var(--fsize16);
    font-weight: 500;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  .team__list-position {
    color: var(--gray);
    margin-bottom: 16px;
    }

    .team-svg-container 
    {

    }

    .team-svg 
    {
      display: flex;
      justify-content: center;
      gap: 10px;
      fill: var(--soc-color);
    }

    .team-soc-list 
    {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      margin: 0 auto;
      border-radius: 50%;

    }

    .team-soc-list:focus,
    .team-soc-list:hover {
      background-color: var(--blue);
    }

    .team-soc-list:hover .team-soc-logo {
      fill: var(--white);
    }

    .team-soc-list:focus .team-soc-logo {
      fill: var(--white);
    }
    /* Regular Customers */

    .reg-cust-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.reg-cust-list-item {
  height: 92px;
  flex-basis: calc((100% - 150px) / 6);
}


.reg-cust-list-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.clients-logo {
  fill: #afb1b8;
}

.reg-cust-list-link:hover,
.reg-cust-list-link:focus {
  border: 1px solid #2196f3;
}

.reg-cust-list-link:hover .clients-logo {
  fill: var(--blue);
}

.reg-cust-list-link:focus .clients-logo {
  fill: var(--blue);
}

/* Footer */
  .footer {
    background-color: var(--darkblue);
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  .footer-ul {

    margin-top: 20px;
  }
  
  .footer-ul .footer-list:not(:last-child) {
    margin-bottom: 9px;
  }

  .footer a {
    text-decoration: none;
  }
  .footer-logo {
    font-family: var(--f-raleway);
    font-size: 26px;
    color: var(--white);
    
  }
  .footer-logo span {
    color: var(--blue);
  }
  .footer-address {
    line-height: 1.56;
    font-style: normal;
  }
  .footer-list {
    list-style: none;
  }
  .footer-address a {
    font-size: var(--fsize14);
    color: var(--white);
    opacity: 0.6;
  }
  .footer-address .address-link{
    opacity: 1;
  }
  .footer-address a:hover,
  .footer-address a:focus {
    opacity: 1;
  }

  .footer-container {
    display: flex;
    align-items: baseline
  }

  .footer-soc {
    margin-left: 70px;
    
  }
  
  .footer-h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
  }
  
  .footer-soc-list {
    display: flex;
    gap: 10px;
    }
  
  
  .footer-soc-item {
    width: 44px;
    height: 44px;
    flex-basis: calc((100% - 30px) / 4);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;


  }

.footer-soc-item:hover, 
.footer-soc-item:focus {
  background-color: var(--blue);
}
.footer-soc-logo {  
  fill: var(--white);
}

  /* Portfolio */

  .header-port 
  {
    border-bottom: 1px solid #ECECEC;
  }

.border {
  border: 1px solid #eeeeee;
  border-top: 1px transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

  .portfolio-filter {
    list-style: none;
  }
  .portfolio-filter {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
  
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;

  } 
  
  .filter-btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: var(--fsize16);
    font-weight: 500;
    line-height: 1.62;
    background-color: var(--lgray);
    padding: 6px 22px;
    
  }
  .portfolio-filter .filter-btn:hover,
  .portfolio-filter .filter-btn:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .portfolio__items {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3)
    
  }
  .portfolio__item 
  {
    
    flex-basis: calc((100% - 60px) / 3)
    background: var(--white);
  }

  .portfolio__items-link
  {
    display: block;
    text-decoration: inherit;
  }
  
  .portfolio__items-link:hover,
  .portfolio__items-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .portfolio__item a {
    text-decoration: none;
  }
  .portfolio__item-title {
    color: var(--dark);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
    
    margin-bottom: 4px;
  }
  .portfolio__item-category {
    color: var(--gray);
    line-height: 1.88;
  }

  