:root {
    --f-roboto: "Roboto", sans-serif;
    --f-raleway: "Raleway", sans-serif;
    --white: #fff;
    --lwhite: #eee;
    --black: #000;
    --dark: #212121;
    --darkblue: #2f303a;
    --gray: #757575;
    --lgray: #f5f4fa;
    --blue: #2196f3;
    --fsize36: 36px;
    --fsize16: 16px;
    --fsize14: 14px;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6,p,ul 
{
margin: 0;
}

body {
  font-family: var(--f-roboto);
  font-size: var(--fsize16);
  line-height: 1.2;
  color: var(--dark);
  letter-spacing: 0.03em;
  background-color: var(--white);
}

/* Container */

.container 
{
width: 1230px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 2px solid tomato;
}

.section
{
  padding-bottom: 94px;
  padding-top: 94px;
  margin: 0;
}

.header-container
{
  display: flex;
  align-items: center;
}






/* ------ */
.list {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  list-style: none;

  
}
.scr-reader {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .section-title {
    font-size: var(--fsize36);
    text-align: center;
  }

  /* Header */
  .header a {
  text-decoration: none;
}

.header-logo {
    font-family: var(--f-raleway);
    font-size: 26px;
    color: var(--blue);
    margin-right: 93Px
  }

  .header-logo span {
  color: var(--black);
}

.header__menu {
  display: flex;
  gap: 50px;
  list-style: none;
}

.header__contacts {
  display: flex;
  gap: 50px;
  list-style: none;

}

.header__nav {
  font-weight: 500;
  font-size: var(--fsize14);
  letter-spacing: 0.02em;
  margin-right: auto;
}

.header__contacts {
  font-weight: 500;
  font-size: var(--fsize14);
  letter-spacing: 0.02em;
}

.header__contacts-item a {
    color: var(--gray);
    
  }

  .header__menu-item a{
  color: var(--dark);
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.header__menu-item a:hover,
.header__menu-item a:focus,
.header__contacts-item a:hover,
.header__contacts-item a:focus,
.header__menu-item.active a {
  color: var(--blue);
}
/* Hero */
.hero {
    background-color: var(--darkblue);
  }
  .hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
  }
  .hero-btn {
    background-color: var(--blue);
    color: var(--white);
    font-weight: 700;
    font-size: var(--fsize16);
    line-height: 1.85;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
  
  .hero-btn:hover,
  .hero-btn:focus {
  background-color: #188ce8;
}

/* Benefits */
  .benefits__list {
  list-style: none;
}
.benefits__list-item {
  font-size: var(--fsize14);
}
.benefits__list-title {
  font-size: inherit;
  text-transform: uppercase;
}
.benefits__list-description {
  color: var(--gray);
}

.doing__images {
    list-style: none;
  }

/* Team */
  .team {
    background-color: var(--lgray);
  }
  .team__list {
    list-style: none;
  }
  .team__list-item {
    max-width: 270px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .team__list-title {
    font-size: var(--fsize16);
    font-weight: 500;
    line-height: 1.19;
  }
  .team__list-position {
    color: var(--gray);
  }
/* Footer */
  .footer {
    background-color: var(--darkblue);
  }
  .footer a {
    text-decoration: none;
  }
  .footer-logo {
    font-family: var(--f-raleway);
    font-size: 26px;
    color: var(--white);
  }
  .footer-logo span {
    color: var(--blue);
  }
  .footer-address {
    line-height: 1.56;
    font-style: normal;
  }
  .footer-list {
    list-style: none;
  }
  .footer-address a {
    font-size: var(--fsize14);
    color: var(--white);
    opacity: 0.6;
  }
  .footer-address .address-link{
    opacity: 1;
  }
  .footer-address a:hover,
  .footer-address a:focus {
    opacity: 1;
  }
  /* Portfolio */
  .portfolio-filter {
    list-style: none;
  }
  .portfolio-filter .filter-btn {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: var(--fsize16);
    font-weight: 500;
    line-height: 1.62;
    background-color: var(--lgray);
  }
  .portfolio-filter .filter-btn:hover,
  .portfolio-filter .filter-btn:focus {
    color: var(--white);
    background-color: var(--blue);
  }
  .portfolio__items {
    list-style: none;
  }
  .portfolio__item {
    max-width: 370px;
    background: var(--white);
    border: 1px solid var(--lwhite);
  }
  .portfolio__item a {
    text-decoration: none;
  }
  .portfolio__item-title {
    color: var(--dark);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .portfolio__item-category {
    color: var(--gray);
    line-height: 1.88;
  }