.team {
    background-color: var(--lgray);
  }

  .team__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .team__list-item {
    
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);   
      flex-basis: calc((100% - 90px) / 4) 
  }

  .team-disc
{
  padding-top: 30px;
  padding-bottom: 30px;
}

  .team__list-title {
    font-size: var(--fsize16);
    font-weight: 500;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  .team__list-position {
    color: var(--gray);
    margin-bottom: 16px;
    }

    
    .team-svg 
    {
      display: flex;
      justify-content: center;
      gap: 10px;
      fill: var(--soc-color);
    }

    .team-soc-list 
    {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      margin: 0 auto;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      background-color: var(--blue);
    }

    }

    .team-soc-logo {
      fill: #AFB1B8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .team-soc-list:focus &, 
      .team-soc-list:hover & {
        fill: var(--white);
        }
    }

    


   