.footer {
    background-color: var(--darkblue);
    padding-bottom: 60px;
    padding-top: 60px;
  }
  
  .footer-list {
  
    margin-top: 20px;
  }
  
  .footer-list .footer_list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer a {
    text-decoration: none;
  }

  .footer_list-item {
    list-style: none;
  }

  .footer-container {
    display: flex;
    align-items: baseline
  }
  

