:root {
    --f-roboto: "Roboto", sans-serif;
    --f-raleway: "Raleway", sans-serif;
    --white: #fff;
    --lwhite: #eee;
    --black: #000;
    --dark: #212121;
    --darkblue: #2f303a;
    --gray: #757575;
    --lgray: #f5f4fa;
    --blue: #2196f3;
    --soc-color: #AFB1B8;
    --btn-back-color: #188ce8;
    --fsize36: 36px;
    --fsize16: 16px;
    --fsize14: 14px;
    --card-set-gap: 30px;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}